<div><form {{action 'createItem' on='submit'}}>
  {{input class="content-input" type="text" required="required" placeholder='insert task item here...' value=newItem.content}}
  {{input class="date-input" type="date" required="required" placeholder='enter due date' value=newItem.date}}
<button type='submit' class="btn-xs">Create</button>
</form>
</div>
