<form {{action 'createItem' on='submit'}}>
  {{input required="required" placeholder='enter new item' value=newItem.content}}
  {{input type="date" required="required" placeholder='enter due date' value=newItem.date}}
<button type='submit'>Create</button>
</form>
