<form {{action 'createItem' on='submit'}}>
  {{input class="content-input" required="required" placeholder='insert your task item here...' value=newItem.content}}
  {{input class="date-input" type="date" required="required" placeholder='enter due date' value=newItem.date}}
<button type='submit'>Create</button>
</form>
