{{! PURPOSE: CALLING ON MODAL}}

{{!-- <button id="btn" {{action 'clickToOpenModal'}}>Open Modal</button> --}}



  {{#bs-modal-simple open=modal1 title="EDIT/UPDATE" size="md" onHidden=(action (mut modal1) false)}}
				<span class="input input--yxiao">
					<input class="input__field input__field--yxiao" type="text" id="input-38" />
					<label class="input__label input__label--yxiao" for="input-38" data-content="task">
						<span class="input__label-content input__label-content--yxiao">TASK</span>
					</label>
				</span>
				<span class="input input--yxiao">
					<input class="input__field input__field--yxiao" type="text" id="input-39" />
					<label class="input__label input__label--yxiao" for="input-39" data-content="DUE DATE">
						<span class="input__label-content input__label-content--yxiao">DUE DATE</span>
					</label>
				</span>
  {{!-- <form class="mn-form">
    <fieldset>
        <div class="mn-textbox">
            <label>TASK
                <input type="text">
            </label>
        </div>
        <div class="mn-textbox">
            <label>DUE DATE
                <input type="text">
            </label>
        </div>
    </fieldset>
  </form> --}}

  {{/bs-modal-simple}}
  {{#bs-button class="edit-button" onClick=(action (mut modal1) true)}}EDIT{{/bs-button}}

  {{!-- {{#bs-modal-simple
  open=modal2
  title=title
  closeTitle=closeTitle
  submitTitle=submitTitle
  size=size
  closeButton=closeButton
  fade=fade
  backdrop=backdrop
  backdropClose=backdropClose
  onSubmit=(action "submit")
  onHidden=(action "close")
  renderInPlace=true}}
  Hi there
{{/bs-modal-simple}}
{{#bs-button onClick=(action "open")}}Reopen Modal{{/bs-button}} --}}
