@import "ember-bootstrap/bootstrap";

header {
  text-align: center;
}

h1 {
  font-size: 80px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  margin: 80px 0 25px;
  color: #7f8c8d;
  padding-top: -20px;
}

h1 span {
  font-weight: 900;
}

h2 {
  color: #bdc3c7;
  font-size: 20px;
  padding-bottom: 30px;
}

.heart {
  font-size: 2px;
  margin-top: -10px;
}

// h3 {
//   color: #bdc3c7;
//   font-size: 16px;
//   padding-top: 30px;
//   padding-bottom: -20px;
// }

.btn-xs {
}

.update {
  width: 200px;
  display: flex;
  flex-direction: row;
}

.date-input {
  display: flex;
  flex-direction: row;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: #ecf0f1;
  border-top: 5px solid #95a5a6;
}

.to-do-list {
  // background-color: #ffff;
  font-size: 14px;
  width: 800px;
  border-radius: 15px;
  // background: -webkit-linear-gradient(top, #aaa, #fff 2%);
  // background: -moz-linear-gradient(top, #aaa, #fff 2%);
  // background: -o-linear-gradient(top, #aaa, #fff 2%);
  // background: -ms-linear-gradient(top, #aaa, #fff 2%);
  // background: linear-gradient(top, #aaa, #fff 2%);
  // -webkit-background-size: 100% 40px;
  // -moz-background-size: 100% 40px;
  // background-size: 100% 40px;
  // border-radius: 5px;
  // -webkit-box-shadow: 0 1px   0 rgba(0, 0, 0, 0.200),
  // 0 3px   0 rgba(255, 255, 255, 1.0),
  // 0 4px   0 rgba(0, 0, 0, 0.15),
  // 0 6px   0 rgba(255, 255, 255, 1);
}

// .content-input {
// 	width: 100px;
// 	margin: 50px auto 20px;
//   width: 100%;
// 	height: 60px;
// 	background: none;
// 	border: none;
// 	border-bottom: 1px solid #bdc3c7;
//   outline: none;
// }

// .input__field {
//   position: relative;
//   display: block;
//   float: right;
//   padding: 0.8em;
//   width: 60%;
//   border: none;
//   border-radius: 0;
//   background: #f0f0f0;
//   color: #aaa;
//   font-weight: bold;
//   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//   -webkit-appearance: none;
// }
//
// .input__field:focus {
//   outline: none;
// }
//
// .input__label {
//   display: inline-block;
//   float: right;
//   padding: 0 1em;
//   width: 40%;
//   color: #6a7989;
//   font-weight: bold;
//   font-size: 70.25%;
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
//
// .input__label-content {
//   position: relative;
//   display: block;
//   padding: 1.6em 0;
//   width: 100%;
// }
//
// .input__field--yxiao {
//   z-index: 10;
//   padding: 0.75em 0.1em 0.25em;
//   width: 100%;
//   background: transparent;
//   color: #afb3b8;
// }
//
// .input__label--yxiao {
//   position: relative;
//   overflow: hidden;
//   padding: 0;
//   width: 100%;
//   color: #dadada;
//   text-align: left;
// }
//
// .input__label--yxiao::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 7px;
//   background: #dadada;
//   -webkit-transform: scale3d(1, 0.4, 1);
//   transform: scale3d(1, 0.4, 1);
//   -webkit-transform-origin: 50% 100%;
//   transform-origin: 50% 100%;
//   -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
//   transition: transform 0.3s, background-color 0.3s;
//   -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//   transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
// }
//
// .input__label--yxiao::after {
//   content: attr(data-content);
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 0.75em 0.15em;
//   color: #da7071;
//   opacity: 0;
//   -webkit-transform: translate3d(0, 50%, 0);
//   transform: translate3d(0, 50%, 0);
//   -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
//   transition: opacity 0.3s, transform 0.3s;
//   -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//   transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//   pointer-events: none;
// }
//
// .input__field--yxiao:focus + .input__label--yxiao::before {
//   background-color: #da7071;
//   -webkit-transform: scale3d(1, 1, 1);
//   transform: scale3d(1, 1, 1);
// }
//
// .input__field--yxiao:focus + .input__label--yxiao {
//   pointer-events: none;
// }
//
// .input__field--yxiao:focus + .input__label--yxiao::after {
//   opacity: 1;
//   -webkit-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
// }
//
// .input__label-content--yxiao {
//   padding: 0.75em 0.15em;
//   -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
//   transition: opacity 0.3s, transform 0.3s;
//   -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
//   transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
// }
//
// .input__field--yxiao:focus + .input__label--yxiao .input__label-content--yxiao {
//   opacity: 0;
//   -webkit-transform: translate3d(0, -50%, 0);
//   transform: translate3d(0, -50%, 0);
// }
