<h2>Items</h2>

{{create-item create='createItem'}}


<ul class="todo-list">
{{#each model as |item|}}

<ul><input type="checkbox">   {{item.content}} {{item.date}}  </ul>
{{/each}}

</ul>

{{outlet}}
